In [1]:
!mysql < /home/jupyter/sakila/sakila-database.sql

In [2]:
!mysql < /home/jupyter/sakila/sakila-data.sql

In [3]:
!mysql sakila -e "show tables"

+----------------------------+
| Tables_in_sakila           |
+----------------------------+
| actor                      |
| actor_info                 |
| address                    |
| category                   |
| city                       |
| country                    |
| customer                   |
| customer_list              |
| film                       |
| film_actor                 |
| film_category              |
| film_list                  |
| film_text                  |
| inventory                  |
| language                   |
| nicer_but_slower_film_list |
| payment                    |
| rental                     |
| sales_by_film_category     |
| sales_by_store             |
| staff                      |
| staff_list                 |
| store                      |
+----------------------------+

In [4]:
!mysql sakila -e "desc actor"

+-------------+-------------------+------+-----+-------------------+-----------------------------------------------+
| Field       | Type              | Null | Key | Default           | Extra                                         |
+-------------+-------------------+------+-----+-------------------+-----------------------------------------------+
| actor_id    | smallint unsigned | NO   | PRI | NULL              | auto_increment                                |
| first_name  | varchar(45)       | NO   |     | NULL              |                                               |
| last_name   | varchar(45)       | NO   | MUL | NULL              |                                               |
| last_update | timestamp         | NO   |     | CURRENT_TIMESTAMP | DEFAULT_GENERATED on update CURRENT_TIMESTAMP |
+-------------+-------------------+------+-----+-------------------+-----------------------------------------------+

● **Write queries to get a row count for five of the tables in the database. Include the five SQL statements.**

In [5]:
!mysql sakila -e "select count(*) from actor"

+----------+
| count(*) |
+----------+
|      200 |
+----------+

In [6]:
!mysql sakila -e "select count(*) from city"

+----------+
| count(*) |
+----------+
|      600 |
+----------+

In [7]:
!mysql sakila -e "select count(*) from country"

+----------+
| count(*) |
+----------+
|      109 |
+----------+

In [8]:
!mysql sakila -e "select count(*) from film"

+----------+
| count(*) |
+----------+
|     1000 |
+----------+

In [9]:
!mysql sakila -e "select count(*) from inventory"

+----------+
| count(*) |
+----------+
|     4581 |
+----------+

● **Write five queries to sample a few rows (showing only a few of the columns) from five of the tables, using the LIMIT clause.**

In [10]:
!mysql sakila -e "select actor_id, first_name, last_name from actor limit 6"

+----------+------------+--------------+
| actor_id | first_name | last_name    |
+----------+------------+--------------+
|        1 | PENELOPE   | GUINESS      |
|        2 | NICK       | WAHLBERG     |
|        3 | ED         | CHASE        |
|        4 | JENNIFER   | DAVIS        |
|        5 | JOHNNY     | LOLLOBRIGIDA |
|        6 | BETTE      | NICHOLSON    |
+----------+------------+--------------+

In [11]:
!mysql sakila -e "select * from city order by country_id limit 10"

+---------+------------+------------+---------------------+
| city_id | city       | country_id | last_update         |
+---------+------------+------------+---------------------+
|     251 | Kabul      |          1 | 2006-02-15 04:45:25 |
|      59 | Batna      |          2 | 2006-02-15 04:45:25 |
|     483 | Skikda     |          2 | 2006-02-15 04:45:25 |
|      63 | Bchar      |          2 | 2006-02-15 04:45:25 |
|     516 | Tafuna     |          3 | 2006-02-15 04:45:25 |
|      67 | Benguela   |          4 | 2006-02-15 04:45:25 |
|     360 | Namibe     |          4 | 2006-02-15 04:45:25 |
|     493 | South Hill |          5 | 2006-02-15 04:45:25 |
|     128 | Crdoba     |          6 | 2006-02-15 04:45:25 |
|     161 | Escobar    |          6 | 2006-02-15 04:45:25 |
+---------+------------+------------+---------------------+

In [12]:
!mysql sakila -e "select country_id, country from country order by country_id limit 10"

+------------+----------------+
| country_id | country        |
+------------+----------------+
|          1 | Afghanistan    |
|          2 | Algeria        |
|          3 | American Samoa |
|          4 | Angola         |
|          5 | Anguilla       |
|          6 | Argentina      |
|          7 | Armenia        |
|          8 | Australia      |
|          9 | Austria        |
|         10 | Azerbaijan     |
+------------+----------------+

In [13]:
!mysql sakila -e "select film_id, title, rating from film where rating = 'NC-17' limit 3"

+---------+------------------+--------+
| film_id | title            | rating |
+---------+------------------+--------+
|       3 | ADAPTATION HOLES | NC-17  |
|      10 | ALADDIN CALENDAR | NC-17  |
|      14 | ALICE FANTASIA   | NC-17  |
+---------+------------------+--------+

In [14]:
!mysql sakila -e "select inventory_id, film_id from inventory limit 2"

+--------------+---------+
| inventory_id | film_id |
+--------------+---------+
|            1 |       1 |
|            2 |       1 |
+--------------+---------+

● **Write a query (on any one table) that uses both a WHERE clause and an ORDER BY clause. Add a short comment above your SQL statement to describe the query.**

*Below I am querying the table `country` where I want countries with their names starting with "U" and order by their `country_id` number in ascending order.*

In [15]:
!mysql sakila -e "select * from country where country like 'U%' order by country_id"

+------------+----------------------+---------------------+
| country_id | country              | last_update         |
+------------+----------------------+---------------------+
|        100 | Ukraine              | 2006-02-15 04:44:00 |
|        101 | United Arab Emirates | 2006-02-15 04:44:00 |
|        102 | United Kingdom       | 2006-02-15 04:44:00 |
|        103 | United States        | 2006-02-15 04:44:00 |
+------------+----------------------+---------------------+

● **Write an INSERT statement to add a row into any one of the tables (*: make sure it is not a View by looking at its CREATE statement in the file sakila-database.sql*). Add a short comment above your SQL statement to describe the statement.**

*Below I'm inserting a fiction country Tatalia with the next available id number by using 'null' in values. The second line queries all countries with names starting with 'T' in descending order to have the newly inserted one listed first.*

In [16]:
!mysql sakila -e "insert into country (country_id, country) values (null, 'Tatalia')"

In [17]:
!mysql sakila -e "select * from country where country like 'T%' order by country_id desc"

+------------+--------------+---------------------+
| country_id | country      | last_update         |
+------------+--------------+---------------------+
|        110 | Tatalia      | 2023-02-09 20:34:40 |
|         99 | Tuvalu       | 2006-02-15 04:44:00 |
|         98 | Turkmenistan | 2006-02-15 04:44:00 |
|         97 | Turkey       | 2006-02-15 04:44:00 |
|         96 | Tunisia      | 2006-02-15 04:44:00 |
|         95 | Tonga        | 2006-02-15 04:44:00 |
|         94 | Thailand     | 2006-02-15 04:44:00 |
|         93 | Tanzania     | 2006-02-15 04:44:00 |
|         92 | Taiwan       | 2006-02-15 04:44:00 |
+------------+--------------+---------------------+

● **Write an UPDATE statement to update one or more rows from any one of the tables (*). Add a short comment above your SQL statement to describe the statement.**

*Below I update the name of the country with id = 110. id 110 is now associated with AvLee. Before id 110 was with Tatalia (as shown above).*

In [18]:
!mysql sakila -e "update country set country = 'AvLee' where country_id = 110"

In [19]:
!mysql sakila -e "select * from country where country = 'AvLee' or country = 'Tatalia' order by country_id desc"

+------------+---------+---------------------+
| country_id | country | last_update         |
+------------+---------+---------------------+
|        110 | AvLee   | 2023-02-09 20:34:40 |
+------------+---------+---------------------+

● **Write a DELETE statement to delete one or more rows from any one of the tables (*). Add a short comment above your SQL statement to describe the statement.**

*Below I deleted the record with id = 110 from country table, and then looked at the countries with id between 105 and 119 (making sure to get the last row) to verify the action. I now do not see the record with id = 110 while 105-109 are still there.*

In [20]:
!mysql sakila -e "delete from country where country_id = 110"

In [21]:
!mysql sakila -e "select * from country where country_id between 105 and 119"

+------------+----------------------+---------------------+
| country_id | country              | last_update         |
+------------+----------------------+---------------------+
|        105 | Vietnam              | 2006-02-15 04:44:00 |
|        106 | Virgin Islands, U.S. | 2006-02-15 04:44:00 |
|        107 | Yemen                | 2006-02-15 04:44:00 |
|        108 | Yugoslavia           | 2006-02-15 04:44:00 |
|        109 | Zambia               | 2006-02-15 04:44:00 |
+------------+----------------------+---------------------+