### Starter code for Project 3. 
#### Run these cells before starting the assignment.

#### 1. create BQ dataset:

In [1]:
%env dataset_id=school_enrollments

env: dataset_id=school_enrollments

In [2]:
!bq --location=US mk --dataset $dataset_id

BigQuery error in mk operation: Dataset 'f-375123:school_enrollments' already
exists.

#### 2. create and populate BQ tables:

In [3]:
import os

In [4]:
gsutil_cmd = "gsutil ls gs://cs327e-open-access-2/school-enrollments/*"
file_listings = os.popen(gsutil_cmd)
dataset="school_enrollments"

for file in file_listings:

    start_index = file.rindex("_") + 1
    end_index = file.rindex(".")
    table = file[start_index:end_index]
    
    if table in ("co", "district", "fl", "ga", "id", "ma", "mo", "ne", "ny", "or", "school", "sd", "wi"):
        print("skipping " + table)
        continue

    bq_cmd = "bq --location=US load --autodetect --skip_leading_rows=1 "\
             "--source_format=CSV " + dataset + "." + table + ' ' + file
    print(bq_cmd)
    
    os.system(bq_cmd)

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ak gs://cs327e-open-access-2/school-enrollments/zf406jp4427_ak.csv

Waiting on bqjob_r14ed3bf824b65cb7_00000186bf29f8c1_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ar gs://cs327e-open-access-2/school-enrollments/zf406jp4427_ar.csv

Waiting on bqjob_r5ce3c26dcbb047bf_00000186bf2a0bf8_1 ... (4s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ca gs://cs327e-open-access-2/school-enrollments/zf406jp4427_ca.csv

Waiting on bqjob_r1e9b3a4ea5875214_00000186bf2a27c3_1 ... (9s) Current status: DONE

skipping co
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ct gs://cs327e-open-access-2/school-enrollments/zf406jp4427_ct.csv

Waiting on bqjob_r13cbb482bcd73f98_00000186bf2a5b9a_1 ... (2s) Current status: DONE

skipping district
skipping fl
skipping ga
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.hi gs://cs327e-open-access-2/school-enrollments/zf406jp4427_hi.csv

Waiting on bqjob_rfb054d951754472_00000186bf2a6f24_1 ... (2s) Current status: DONE

skipping id
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.la gs://cs327e-open-access-2/school-enrollments/zf406jp4427_la.csv

Waiting on bqjob_r291989c87c40653b_00000186bf2a822c_1 ... (4s) Current status: DONE

skipping ma
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.md gs://cs327e-open-access-2/school-enrollments/zf406jp4427_md.csv

Waiting on bqjob_rd23d5469654e038_00000186bf2a9dd1_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.mn gs://cs327e-open-access-2/school-enrollments/zf406jp4427_mn.csv

Waiting on bqjob_r6a1aac2b18e478dd_00000186bf2ab0da_1 ... (5s) Current status: DONE

skipping mo
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ms gs://cs327e-open-access-2/school-enrollments/zf406jp4427_ms.csv

Waiting on bqjob_r4a4a9dbcbf69a033_00000186bf2ad083_1 ... (2s) Current status: DONE

skipping ne
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nh gs://cs327e-open-access-2/school-enrollments/zf406jp4427_nh.csv

Waiting on bqjob_r364d7e103b5b2848_00000186bf2ae3b8_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nv gs://cs327e-open-access-2/school-enrollments/zf406jp4427_nv.csv

Waiting on bqjob_r1ccb0341472b978e_00000186bf2af6ce_1 ... (2s) Current status: DONE

skipping ny
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ok gs://cs327e-open-access-2/school-enrollments/zf406jp4427_ok.csv

Waiting on bqjob_r3ee68b91fa8a3d74_00000186bf2b09e5_1 ... (3s) Current status: DONE

skipping or
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.pa gs://cs327e-open-access-2/school-enrollments/zf406jp4427_pa.csv

Waiting on bqjob_r41f70210f48c2802_00000186bf2b21ce_1 ... (5s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.sc gs://cs327e-open-access-2/school-enrollments/zf406jp4427_sc.csv

Waiting on bqjob_r35f1c0a31168befc_00000186bf2b44be_1 ... (2s) Current status: DONE

skipping school
skipping sd
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.tx gs://cs327e-open-access-2/school-enrollments/zf406jp4427_tx.csv

Waiting on bqjob_rb8a525cb8329e0e_00000186bf2b57b5_1 ... (4s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.wa gs://cs327e-open-access-2/school-enrollments/zf406jp4427_wa.csv

Waiting on bqjob_r3fec3288c41966eb_00000186bf2b72c3_1 ... (5s) Current status: DONE

skipping wi
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.wy gs://cs327e-open-access-2/school-enrollments/zf406jp4427_wy.csv

Waiting on bqjob_r7638ecee85692fab_00000186bf2b9234_1 ... (2s) Current status: DONE

#### 3. Find school enrollments by school name, grade level, and year for Texas

In [5]:
!bq show --schema=true $dataset_id.tx

[{"name":"state","type":"STRING","mode":"NULLABLE"},{"name":"county","type":"STRING","mode":"NULLABLE"},{"name":"county_state_id","type":"STRING","mode":"NULLABLE"},{"name":"admin_level","type":"STRING","mode":"NULLABLE"},{"name":"district_nces_id","type":"INTEGER","mode":"NULLABLE"},{"name":"district_state_id","type":"INTEGER","mode":"NULLABLE"},{"name":"district_state_type","type":"STRING","mode":"NULLABLE"},{"name":"district","type":"STRING","mode":"NULLABLE"},{"name":"ccd_district_type","type":"STRING","mode":"NULLABLE"},{"name":"ccd_charter","type":"STRING","mode":"NULLABLE"},{"name":"ccd_district_lvl","type":"STRING","mode":"NULLABLE"},{"name":"ccd_district_low_grade","type":"STRING","mode":"NULLABLE"},{"name":"ccd_district_high_grade","type":"STRING","mode":"NULLABLE"},{"name":"school_nces_id","type":"INTEGER","mode":"NULLABLE"},{"name":"school_state_id","type":"FLOAT","mode":"NULLABLE"},{"name":"school","type":"STRING","mode":"NULLABLE"},{"name":"school_state_type","type":"STRING","mode":"NULLABLE"},{"name":"ccd_school_type","type":"STRING","mode":"NULLABLE"},{"name":"ccd_charter_school","type":"BOOLEAN","mode":"NULLABLE"},{"name":"ccd_school_lvl","type":"STRING","mode":"NULLABLE"},{"name":"ccd_school_low_grade","type":"STRING","mode":"NULLABLE"},{"name":"ccd_school_high_grade","type":"STRING","mode":"NULLABLE"},{"name":"year","type":"INTEGER","mode":"NULLABLE"},{"name":"term","type":"STRING","mode":"NULLABLE"},{"name":"grade","type":"STRING","mode":"NULLABLE"},{"name":"white","type":"STRING","mode":"NULLABLE"},{"name":"black","type":"STRING","mode":"NULLABLE"},{"name":"hispanic","type":"STRING","mode":"NULLABLE"},{"name":"native_american","type":"STRING","mode":"NULLABLE"},{"name":"native_american_alaskan_native","type":"STRING","mode":"NULLABLE"},{"name":"asian","type":"STRING","mode":"NULLABLE"},{"name":"native_hawaiian","type":"STRING","mode":"NULLABLE"},{"name":"asian_pacific_islander","type":"STRING","mode":"NULLABLE"},{"name":"native_hawaiian_pacific_islander","type":"STRING","mode":"NULLABLE"},{"name":"pacific_islander","type":"STRING","mode":"NULLABLE"},{"name":"multiracial","type":"STRING","mode":"NULLABLE"},{"name":"unknown_race","type":"STRING","mode":"NULLABLE"},{"name":"male","type":"STRING","mode":"NULLABLE"},{"name":"female","type":"STRING","mode":"NULLABLE"},{"name":"non_binary","type":"STRING","mode":"NULLABLE"},{"name":"unknown_gender","type":"STRING","mode":"NULLABLE"},{"name":"ell","type":"STRING","mode":"NULLABLE"},{"name":"ell_percent","type":"STRING","mode":"NULLABLE"},{"name":"homeless","type":"STRING","mode":"NULLABLE"},{"name":"homeless_percent","type":"STRING","mode":"NULLABLE"},{"name":"low_income","type":"STRING","mode":"NULLABLE"},{"name":"free_and_reduced","type":"STRING","mode":"NULLABLE"},{"name":"free_and_reduced_percent","type":"STRING","mode":"NULLABLE"},{"name":"disability","type":"STRING","mode":"NULLABLE"},{"name":"section_504","type":"STRING","mode":"NULLABLE"},{"name":"total","type":"STRING","mode":"NULLABLE"}]

#### Note: STRING type for "total" column

In [6]:
%%bigquery
select district, school, grade, year, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total
from school_enrollments.tx
where total != "" and school != "" and district like '%AUSTIN%'
group by district, school, grade, year
order by district, school, grade, year

Query is running:   0%|          |

Downloading:   0%|          |

,district,school,grade,year,total
0,AUSTIN ACHIEVE PUBLIC SCHOOLS,AUSTIN ACHIEVE EL,grade_1,2020,456
1,AUSTIN ACHIEVE PUBLIC SCHOOLS,AUSTIN ACHIEVE EL,grade_1,2021,448
2,AUSTIN ACHIEVE PUBLIC SCHOOLS,AUSTIN ACHIEVE EL,grade_2,2020,448
3,AUSTIN ACHIEVE PUBLIC SCHOOLS,AUSTIN ACHIEVE EL,grade_2,2021,556
4,AUSTIN ACHIEVE PUBLIC SCHOOLS,AUSTIN ACHIEVE EL,grade_3,2020,520
...,...,...,...,...,...
1734,UNIVERSITY OF TEXAS AT AUSTIN H S,UNIVERSITY OF TEXAS AT AUSTIN H S,grade_11,2021,328
1735,UNIVERSITY OF TEXAS AT AUSTIN H S,UNIVERSITY OF TEXAS AT AUSTIN H S,grade_12,2020,388
1736,UNIVERSITY OF TEXAS AT AUSTIN H S,UNIVERSITY OF TEXAS AT AUSTIN H S,grade_12,2021,348
1737,UNIVERSITY OF TEXAS AT AUSTIN H S,UNIVERSITY OF TEXAS AT AUSTIN H S,grade_9,2020,132
1738,UNIVERSITY OF TEXAS AT AUSTIN H S,UNIVERSITY OF TEXAS AT AUSTIN H S,grade_9,2021,180

##### Documentation on BQ's string functions: https://cloud.google.com/bigquery/docs/reference/standard-sql/string_functions

In [7]:
!bq --location=US mk --dataset "views"

BigQuery error in mk operation: Dataset 'f-375123:views' already exists.

In [8]:
%%bigquery
create view views.austin_enrollments_by_school_grade_year as
select district, school, grade, year, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total
from school_enrollments.tx
where total != "" and school != "" and district like '%AUSTIN%'
group by district, school, grade, year
order by district, school, grade, year

Executing query with job ID: 5c21d186-ecdc-48c6-8956-295e08b31d58
Query executing: 0.38s

ERROR:
 409 Already Exists: Table f-375123:views.austin_enrollments_by_school_grade_year

Location: US
Job ID: 5c21d186-ecdc-48c6-8956-295e08b31d58

In [9]:
%%bigquery
select * from views.austin_enrollments_by_school_grade_year

Query is running:   0%|          |

Downloading:   0%|          |

         school             grade  year  total
0     AKINS H S          grade_10  2020   2880
1     AKINS H S          grade_10  2021   2988
2     AKINS H S          grade_11  2020   2656
3     AKINS H S          grade_11  2021   2652
4     AKINS H S          grade_12  2020   2436
...         ...               ...   ...    ...
1734  ZILKER EL           grade_5  2021    276
1735  ZILKER EL      kindergarten  2020    308
1736  ZILKER EL      kindergarten  2021    252
1737  ZILKER EL  pre_kindergarten  2020    120
1738  ZILKER EL  pre_kindergarten  2021     52

[1739 rows x 4 columns]

In [10]:
%%bigquery
create view views.austin_enrollments_TX as
select state, school, grade, year, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total
from school_enrollments.tx
where total != "" and school != "" and district like '%AUSTIN%'
group by state, school, grade, year
order by state, school, grade, year

Executing query with job ID: c5861a30-8968-4819-94bc-4bf94a6d7893
Query executing: 0.27s

ERROR:
 409 Already Exists: Table f-375123:views.austin_enrollments_TX

Location: US
Job ID: c5861a30-8968-4819-94bc-4bf94a6d7893

In [11]:
%%bigquery
create view views.brownsville_enrollments_TX as
select state, school, grade, year, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total
from school_enrollments.tx
where total != "" and school != "" and district like '%BROWNSVILLE%'
group by state, school, grade, year
order by state, school, grade, year

Executing query with job ID: 78c772f4-7a3a-48ef-b9b3-cedbdedb33df
Query executing: 0.23s

ERROR:
 409 Already Exists: Table f-375123:views.brownsville_enrollments_TX

Location: US
Job ID: 78c772f4-7a3a-48ef-b9b3-cedbdedb33df

In [12]:
%%bigquery
select * from views.austin_enrollments_TX

Query is running:   0%|          |

Downloading:   0%|          |

     state     school             grade  year  total
0       TX  AKINS H S          grade_10  2020   2880
1       TX  AKINS H S          grade_10  2021   2988
2       TX  AKINS H S          grade_11  2020   2656
3       TX  AKINS H S          grade_11  2021   2652
4       TX  AKINS H S          grade_12  2020   2436
...    ...        ...               ...   ...    ...
1734    TX  ZILKER EL           grade_5  2021    276
1735    TX  ZILKER EL      kindergarten  2020    308
1736    TX  ZILKER EL      kindergarten  2021    252
1737    TX  ZILKER EL  pre_kindergarten  2020    120
1738    TX  ZILKER EL  pre_kindergarten  2021     52

[1739 rows x 5 columns]

In [13]:
%%bigquery
select * from views.brownsville_enrollments_TX

Query is running:   0%|          |

Downloading:   0%|          |

    state      school             grade  year  total
0      TX    AIKEN EL   early_education  2020     40
1      TX    AIKEN EL           grade_1  2020    392
2      TX    AIKEN EL           grade_1  2021    320
3      TX    AIKEN EL           grade_2  2020    412
4      TX    AIKEN EL           grade_2  2021    384
..    ...         ...               ...   ...    ...
639    TX  YTURRIA EL           grade_5  2021    384
640    TX  YTURRIA EL      kindergarten  2020    240
641    TX  YTURRIA EL      kindergarten  2021    256
642    TX  YTURRIA EL  pre_kindergarten  2020    432
643    TX  YTURRIA EL  pre_kindergarten  2021    396

[644 rows x 5 columns]

#### 4. Open Data Studio and create a chart from this view:
##### https://datastudio.google.com/

#### Project 3 homework marker. Start homework from here.

*Pre-comment: Please, notice we work with a dataset  views.austin_enrollments_TX  (lines 10-11 above) which is a modification of the original views.austin_enrollments_by_school_grade_year. The difference is that enrollments_TX dataset contains a column 'state' (all instances are 'TX'). Next was a view of Brownsville, TX dataset created to be used in the queries.*

**1. Creating a view of California school enrollments in Los Angeles county.**

*Please notice that different states have slightly different enrollment tables, hence the query looks different from the one that creates Austin View.*

In [14]:
%%bigquery
create view views.LA_enrollments_CA as
select state, school, grade, year, sum(total) as total
from school_enrollments.ca
where total != 0 and school != "" and county like '%LOS ANGELES%'
group by state, school, grade, year
order by state, school, grade, year

Executing query with job ID: 4585ce3b-600a-457b-a685-fe26839008d1
Query executing: 0.39s

ERROR:
 409 Already Exists: Table f-375123:views.LA_enrollments_CA

Location: US
Job ID: 4585ce3b-600a-457b-a685-fe26839008d1

In [15]:
%%bigquery
select * from views.LA_enrollments_CA

Query is running:   0%|          |

Downloading:   0%|          |

      state                             school       grade  year   total
0        CA                       138th Street     grade_3  2021   584.0
1        CA                       138th Street     grade_4  2021   596.0
2        CA                       138th Street     grade_5  2021   596.0
3        CA                       138th Street  k_12_total  2021  1776.0
4        CA        ABC Secondary (Alternative)    grade_10  2020     8.0
...     ...                                ...         ...   ...     ...
27253    CA  iQ Academy California-Los Angeles     grade_8  2021   420.0
27254    CA  iQ Academy California-Los Angeles     grade_9  2020   260.0
27255    CA  iQ Academy California-Los Angeles     grade_9  2021   332.0
27256    CA  iQ Academy California-Los Angeles  k_12_total  2020  3132.0
27257    CA  iQ Academy California-Los Angeles  k_12_total  2021  4240.0

[27258 rows x 5 columns]

**2. Looking at Austin high schools - we are interested in number of grades in each school and total enrollments in 2020 and 2021.**

*Schools are ordered by total yearly enrollments, and only high schools are included, 25 schools total. The largest school by enrollments is Bowie and the smallest is Garza.*

In [16]:
%%bigquery
select school, year, count(*) grades_number, sum(total) total_enrollment_per_year 
from views.austin_enrollments_TX
where year=2020 or year=2021
group by school, year having school like '%H S%'
order by total_enrollment_per_year desc

Query is running:   0%|          |

Downloading:   0%|          |

,school,year,grades_number,total_enrollment_per_year
0,BOWIE H S,2021,4,11544
1,BOWIE H S,2020,4,11384
2,AKINS H S,2021,4,11240
3,AKINS H S,2020,4,11008
4,AUSTIN H S,2020,4,9440
5,AUSTIN H S,2021,4,9396
6,ANDERSON H S,2021,4,8964
7,ANDERSON H S,2020,4,8864
8,MCCALLUM H S,2021,4,7340
9,MCCALLUM H S,2020,4,7092
10,NAVARRO EARLY COLLEGE H S,2021,4,6280
11,NAVARRO EARLY COLLEGE H S,2020,4,6088
12,LASA H S,2020,4,5140
13,LASA H S,2021,4,5016
14,TRAVIS EARLY COLLEGE H S,2021,4,4972
15,TRAVIS EARLY COLLEGE H S,2020,4,4724
16,NORTHEAST EARLY COLLEGE H S,2020,4,4556
17,NORTHEAST EARLY COLLEGE H S,2021,4,4348
18,AUSTIN ACHIEVE H S,2021,4,2336
19,AUSTIN ACHIEVE H S,2020,4,2080
20,INTERNATIONAL H S,2020,2,1404
21,UNIVERSITY OF TEXAS AT AUSTIN H S,2021,4,1096
22,UNIVERSITY OF TEXAS AT AUSTIN H S,2020,4,988
23,INTERNATIONAL H S,2021,2,984
24,GARZA INDEPENDENCE H S,2021,2,732
25,GARZA INDEPENDENCE H S,2020,3,664

**3. Looking at 3 specific schools in Northwest area of Austin.**

*For both 2020 and 2021 the enrollments were the largest in Anderson high, followed by Murchison middle, then Doss elementary.*

In [17]:
%%bigquery
select school, year, count(*) grades_number, sum(total) total_enrollment_per_year 
from views.austin_enrollments_TX 
group by rollup (school, year) 
having school like '%DOSS%' or school like '%MURCHISON%' or school like '%ANDERSON%' 
order by year, total_enrollment_per_year

Query is running:   0%|          |

Downloading:   0%|          |

             school  year  grades_number  total_enrollment_per_year
0           DOSS EL  <NA>             16                       6372
1  MURCHISON MIDDLE  <NA>              6                      10396
2      ANDERSON H S  <NA>              8                      17828
3           DOSS EL  2020              8                       3344
4  MURCHISON MIDDLE  2020              3                       5412
5      ANDERSON H S  2020              4                       8864
6           DOSS EL  2021              8                       3028
7  MURCHISON MIDDLE  2021              3                       4984
8      ANDERSON H S  2021              4                       8964

**4. Uniting 2 sets of schools: Austin, TX and Los Angeles, CA.**

*2021 enrollments are shown, the largest and the smallest schools are both in Los Angeles.*

In [18]:
%%bigquery
select state, school, sum(total) total_enrollment_per_year 
from views.austin_enrollments_TX
where year = 2021
group by state, school
union all
select state, school, sum(total) total_enrollment_per_year 
from views.LA_enrollments_CA
where year = 2021
group by state, school
order by total_enrollment_per_year desc

Query is running:   0%|          |

Downloading:   0%|          |

,state,school,total_enrollment_per_year
0,CA,Granada Hills Charter,43696.0
1,CA,California Virtual Academy @ Los Angeles,41232.0
2,CA,Washington Elementary,41072.0
3,CA,Downey High,34424.0
4,CA,Paramount High,33688.0
...,...,...,...
2234,TX,MAINSPRING SCHOOLS,64.0
2235,CA,Vista (Alternative),56.0
2236,CA,Wilsona Achievement Academy,48.0
2237,CA,Jewel City Community Day,40.0
2238,CA,CDS Elementary,24.0

**5. Creating a table of total enrollments of Austin schools in 2020 and 2021 stratified by school type (Elementary, Middle, High).**

*First, the subquery in `from` clause creates a table with all Austin schools and their total enrollments per year startified by school type (elementary, middle, high). The schools of type 'Other' are not included. Then we aggregate the enrollment per year by school type and show in ascending order.*

In [19]:
%%bigquery
select school_type, sum(enrollment) as total_enrollment, year
from
(select a.school, a.year, sum(total) as enrollment,
           case
           when school like '%EL%' then 'Elementary'
           when school like '%MIDDLE%' then 'Middle'
           when school like '%H S%' then 'High'
           else 'Other'
           end school_type
           from views.austin_enrollments_TX as a
           group by a.school, a.year having school_type != 'Other'
           order by school_type)
group by school_type, year having year=2021 or year=2020
order by total_enrollment

Query is running:   0%|          |

Downloading:   0%|          |

  school_type  total_enrollment  year
0      Middle             42128  2021
1      Middle             43744  2020
2        High             73432  2020
3        High             74248  2021
4  Elementary            159292  2021
5  Elementary            178840  2020

*Creating a view with a previous query 5 for Data Studio*

In [1]:
%%bigquery
create view views.Austin_ElMidHi as
select school_type, sum(enrollment) as total_enrollment, year
from
(select a.school, a.year, sum(total) as enrollment,
           case
           when school like '%EL%' then 'Elementary'
           when school like '%MIDDLE%' then 'Middle'
           when school like '%H S%' then 'High'
           else 'Other'
           end school_type
           from views.austin_enrollments_TX as a
           group by a.school, a.year having school_type != 'Other'
           order by school_type)
group by school_type, year having year=2021 or year=2020
order by total_enrollment

Query is running:   0%|          |

Empty DataFrame
Columns: []
Index: []

**6. Creating a table of total enrollments of Brownsville schools in 2021.**

In [20]:
%%bigquery
select district, school, count(*) grade, year, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total
from school_enrollments.tx
where year = 2021 and total != "" and school != "" and district='BROWNSVILLE ISD'
group by district, school, year
order by total, school, year

Query is running:   0%|          |

Downloading:   0%|          |

           district                             school  grade  year  total
0   BROWNSVILLE ISD               CAMERON CO J J A E P     20  2021    200
1   BROWNSVILLE ISD                           GARZA EL     28  2021   1156
2   BROWNSVILLE ISD                    DEL CASTILLO EL     32  2021   1248
3   BROWNSVILLE ISD                       SOUTHMOST EL     28  2021   1332
4   BROWNSVILLE ISD                       EL JARDIN EL     28  2021   1348
5   BROWNSVILLE ISD                         SKINNER EL     28  2021   1464
6   BROWNSVILLE ISD                      PALM GROVE EL     28  2021   1492
7   BROWNSVILLE ISD      BROWNSVILLE EARLY COLLEGE H S     16  2021   1680
8   BROWNSVILLE ISD                     VILLA NUEVA EL     32  2021   1756
9   BROWNSVILLE ISD                     MORNINGSIDE EL     28  2021   1828
10  BROWNSVILLE ISD                          MARTIN EL     32  2021   1844
11  BROWNSVILLE ISD                            PENA EL     28  2021   1856
12  BROWNSVILLE ISD                        GALLEGOS EL     28  2021   1864
13  BROWNSVILLE ISD                     GARDEN PARK EL     28  2021   1876
14  BROWNSVILLE ISD                       CASTANEDA EL     28  2021   2008
15  BROWNSVILLE ISD                           BRITE EL     28  2021   2068
16  BROWNSVILLE ISD                        PUTEGNAT EL     28  2021   2072
17  BROWNSVILLE ISD                         CROMACK EL     32  2021   2076
18  BROWNSVILLE ISD                           SHARP EL     28  2021   2136
19  BROWNSVILLE ISD                          KELLER EL     32  2021   2204
20  BROWNSVILLE ISD                         YTURRIA EL     28  2021   2204
21  BROWNSVILLE ISD                         RUSSELL EL     28  2021   2340
22  BROWNSVILLE ISD                           ORTIZ EL     32  2021   2380
23  BROWNSVILLE ISD                           AIKEN EL     28  2021   2440
24  BROWNSVILLE ISD                           PEREZ EL     32  2021   2528
25  BROWNSVILLE ISD                            EGLY EL     32  2021   2540
26  BROWNSVILLE ISD                    BESTEIRO MIDDLE     12  2021   2544
27  BROWNSVILLE ISD                         BREEDEN EL     32  2021   2568
28  BROWNSVILLE ISD                           BURNS EL     32  2021   2616
29  BROWNSVILLE ISD                 VERMILLION ROAD EL     32  2021   2752
30  BROWNSVILLE ISD                          HUDSON EL     32  2021   2848
31  BROWNSVILLE ISD                        VELA MIDDLE     12  2021   2856
32  BROWNSVILLE ISD                        CHAMPION EL     28  2021   2868
33  BROWNSVILLE ISD                        GONZALEZ EL     28  2021   2888
34  BROWNSVILLE ISD                     PERKINS MIDDLE     12  2021   2912
35  BROWNSVILLE ISD                         CANALES EL     28  2021   2932
36  BROWNSVILLE ISD                         PAREDES EL     28  2021   3188
37  BROWNSVILLE ISD                       LUCIO MIDDLE     12  2021   3392
38  BROWNSVILLE ISD                          PULLAM EL     32  2021   3408
39  BROWNSVILLE ISD                       BENAVIDES EL     32  2021   3480
40  BROWNSVILLE ISD                       STELL MIDDLE     12  2021   3544
41  BROWNSVILLE ISD                    OLIVEIRA MIDDLE     12  2021   3552
42  BROWNSVILLE ISD                     MANZANO MIDDLE     12  2021   3580
43  BROWNSVILLE ISD                       FAULK MIDDLE     12  2021   4204
44  BROWNSVILLE ISD                      GARCIA MIDDLE     12  2021   4228
45  BROWNSVILLE ISD                    STILLMAN MIDDLE     12  2021   4508
46  BROWNSVILLE ISD            LOPEZ EARLY COLLEGE H S     16  2021   7688
47  BROWNSVILLE ISD           PORTER EARLY COLLEGE H S     16  2021   7812
48  BROWNSVILLE ISD             PACE EARLY COLLEGE H S     16  2021   8256
49  BROWNSVILLE ISD  VETERANS MEMORIAL EARLY COLLEGE H     16  2021   8368
50  BROWNSVILLE ISD           RIVERA EARLY COLLEGE H S     16  2021   9356
51  BROWNSVILLE ISD            HANNA EARLY COLLEGE H S     16  2021   9764

**7. Creating a table showing all elementary schools and their enrollment that operated in Brownsville, TX in 2021.**

In [4]:
%%bigquery
select school, year, sum(total) as total_enrollment
from views.brownsville_enrollments_TX
where year = 2021
group by school, year
having school like '% EL%'
order by year

Query is running:   0%|          |

Downloading:   0%|          |

                school  year  total_enrollment
0             AIKEN EL  2021              2440
1         BENAVIDES EL  2021              3480
2           BREEDEN EL  2021              2568
3             BRITE EL  2021              2068
4             BURNS EL  2021              2616
5           CANALES EL  2021              2932
6         CASTANEDA EL  2021              2008
7          CHAMPION EL  2021              2868
8           CROMACK EL  2021              2076
9      DEL CASTILLO EL  2021              1248
10             EGLY EL  2021              2540
11        EL JARDIN EL  2021              1348
12         GALLEGOS EL  2021              1864
13      GARDEN PARK EL  2021              1876
14            GARZA EL  2021              1156
15         GONZALEZ EL  2021              2888
16           HUDSON EL  2021              2848
17           KELLER EL  2021              2204
18           MARTIN EL  2021              1844
19      MORNINGSIDE EL  2021              1828
20            ORTIZ EL  2021              2380
21       PALM GROVE EL  2021              1492
22          PAREDES EL  2021              3188
23             PENA EL  2021              1856
24            PEREZ EL  2021              2528
25           PULLAM EL  2021              3408
26         PUTEGNAT EL  2021              2072
27          RUSSELL EL  2021              2340
28            SHARP EL  2021              2136
29          SKINNER EL  2021              1464
30        SOUTHMOST EL  2021              1332
31  VERMILLION ROAD EL  2021              2752
32      VILLA NUEVA EL  2021              1756
33          YTURRIA EL  2021              2204

*Creating a view with a previous query 7 for Data Studio*

In [5]:
%%bigquery
create view views.Brownsville_El as
select school, year, sum(total) as total_enrollment
from views.brownsville_enrollments_TX
where year = 2021
group by school, year
having school like '% EL%'
order by year

Query is running:   0%|          |

Empty DataFrame
Columns: []
Index: []

**8. Creating a table showing how many schools CA, PA, and TX had operating in 2020 and 2021.**

In [1]:
%%bigquery
select state, year, count(DISTINCT school) as schools
from school_enrollments.tx
group by year, state
union all
select state, year, COUNT(DISTINCT school)
from school_enrollments.ca
group by year, state
union all
select state, year, COUNT(DISTINCT school)
from school_enrollments.pa
group by year, state
order by state

Query is running:   0%|          |

Downloading:   0%|          |

  state  year  schools
0    CA  2020     8769
1    CA  2021     8747
2    PA  2021     3188
3    PA  2020     3223
4    TX  2021     7982
5    TX  2020     7969