**Create the pagila schema and objects by running pagila-schema.sql.**

In [1]:
!psql < /home/jupyter/pagila/pagila-schema.sql &> /dev/null

**Populate the pagila tables by running pagila-insert-data.sql.**

In [2]:
!psql < /home/jupyter/pagila/pagila-insert-data.sql &> /dev/null

**Describe each table**

In [3]:
!psql -c "\dt pagila.*"

             List of relations
 Schema |     Name      | Type  |  Owner
--------+---------------+-------+----------
 pagila | actor         | table | postgres
 pagila | address       | table | postgres
 pagila | category      | table | postgres
 pagila | city          | table | postgres
 pagila | country       | table | postgres
 pagila | customer      | table | postgres
 pagila | film          | table | postgres
 pagila | film_actor    | table | postgres
 pagila | film_category | table | postgres
 pagila | inventory     | table | postgres
 pagila | language      | table | postgres
 pagila | payment       | table | postgres
 pagila | rental        | table | postgres
 pagila | staff         | table | postgres
 pagila | store         | table | postgres
(15 rows)

In [4]:
!psql -c "\d pagila.actor"

                                              Table "pagila.actor"
   Column    |           Type           | Collation | Nullable |                    Default
-------------+--------------------------+-----------+----------+------------------------------------------------
 actor_id    | integer                  |           | not null | nextval('pagila.actor_actor_id_seq'::regclass)
 first_name  | text                     |           | not null |
 last_name   | text                     |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "actor_pkey" PRIMARY KEY, btree (actor_id)
    "idx_actor_last_name" btree (last_name)
Referenced by:
    TABLE "pagila.film_actor" CONSTRAINT "film_actor_actor_id_fkey" FOREIGN KEY (actor_id) REFERENCES pagila.actor(actor_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.actor FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [5]:
!psql -c "select * from pagila.actor limit 3"

 actor_id | first_name | last_name |      last_update
----------+------------+-----------+------------------------
        1 | PENELOPE   | GUINESS   | 2017-02-15 09:34:33+00
        2 | NICK       | WAHLBERG  | 2017-02-15 09:34:33+00
        3 | ED         | CHASE     | 2017-02-15 09:34:33+00
(3 rows)

In [6]:
!psql -c "\d pagila.address"

                                               Table "pagila.address"
   Column    |           Type           | Collation | Nullable |                      Default
-------------+--------------------------+-----------+----------+----------------------------------------------------
 address_id  | integer                  |           | not null | nextval('pagila.address_address_id_seq'::regclass)
 address     | text                     |           | not null |
 address2    | text                     |           |          |
 district    | text                     |           | not null |
 city_id     | smallint                 |           | not null |
 postal_code | text                     |           |          |
 phone       | text                     |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "address_pkey" PRIMARY KEY, btree (address_id)
    "idx_fk_city_id" btree (city_id)
Foreign-key constraints:
    "address_city_id_fkey" FOREIGN KEY (city_id) REFERENCES pagila.city(city_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.customer" CONSTRAINT "customer_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.staff" CONSTRAINT "staff_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.store" CONSTRAINT "store_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.address FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [7]:
!psql -c "select * from pagila.address limit 3"

 address_id |      address       | address2 | district | city_id | postal_code |    phone    |      last_update
------------+--------------------+----------+----------+---------+-------------+-------------+------------------------
          1 | 47 MySakila Drive  |          | Alberta  |     300 |             |             | 2017-02-15 09:45:30+00
          2 | 28 MySQL Boulevard |          | QLD      |     576 |             |             | 2017-02-15 09:45:30+00
          3 | 23 Workhaven Lane  |          | Alberta  |     300 |             | 14033335568 | 2017-02-15 09:45:30+00
(3 rows)

In [8]:
!psql -c "\d pagila.category"

                                               Table "pagila.category"
   Column    |           Type           | Collation | Nullable |                       Default
-------------+--------------------------+-----------+----------+------------------------------------------------------
 category_id | integer                  |           | not null | nextval('pagila.category_category_id_seq'::regclass)
 name        | text                     |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "category_pkey" PRIMARY KEY, btree (category_id)
Referenced by:
    TABLE "pagila.film_category" CONSTRAINT "film_category_category_id_fkey" FOREIGN KEY (category_id) REFERENCES pagila.category(category_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.category FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [9]:
!psql -c "select * from pagila.category limit 3"

 category_id |   name    |      last_update
-------------+-----------+------------------------
           1 | Action    | 2017-02-15 09:46:27+00
           2 | Animation | 2017-02-15 09:46:27+00
           3 | Children  | 2017-02-15 09:46:27+00
(3 rows)

In [10]:
!psql -c "\d pagila.city"

                                             Table "pagila.city"
   Column    |           Type           | Collation | Nullable |                   Default
-------------+--------------------------+-----------+----------+----------------------------------------------
 city_id     | integer                  |           | not null | nextval('pagila.city_city_id_seq'::regclass)
 city        | text                     |           | not null |
 country_id  | smallint                 |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "city_pkey" PRIMARY KEY, btree (city_id)
    "idx_fk_country_id" btree (country_id)
Foreign-key constraints:
    "city_country_id_fkey" FOREIGN KEY (country_id) REFERENCES pagila.country(country_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.address" CONSTRAINT "address_city_id_fkey" FOREIGN KEY (city_id) REFERENCES pagila.city(city_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.city FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [11]:
!psql -c "select * from pagila.city limit 5"

 city_id |        city        | country_id |      last_update
---------+--------------------+------------+------------------------
       1 | A Corua (La Corua) |         87 | 2017-02-15 09:45:25+00
       2 | Abha               |         82 | 2017-02-15 09:45:25+00
       3 | Abu Dhabi          |        101 | 2017-02-15 09:45:25+00
       4 | Acua               |         60 | 2017-02-15 09:45:25+00
       5 | Adana              |         97 | 2017-02-15 09:45:25+00
(5 rows)

In [12]:
!psql -c "\d pagila.country"

                                               Table "pagila.country"
   Column    |           Type           | Collation | Nullable |                      Default
-------------+--------------------------+-----------+----------+----------------------------------------------------
 country_id  | integer                  |           | not null | nextval('pagila.country_country_id_seq'::regclass)
 country     | text                     |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "country_pkey" PRIMARY KEY, btree (country_id)
Referenced by:
    TABLE "pagila.city" CONSTRAINT "city_country_id_fkey" FOREIGN KEY (country_id) REFERENCES pagila.country(country_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.country FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [13]:
!psql -c "select * from pagila.country limit 5"

 country_id |    country     |      last_update
------------+----------------+------------------------
          1 | Afghanistan    | 2017-02-15 09:44:00+00
          2 | Algeria        | 2017-02-15 09:44:00+00
          3 | American Samoa | 2017-02-15 09:44:00+00
          4 | Angola         | 2017-02-15 09:44:00+00
          5 | Anguilla       | 2017-02-15 09:44:00+00
(5 rows)

In [14]:
!psql -c "\d pagila.film"

                                                  Table "pagila.film"
        Column        |           Type           | Collation | Nullable |                   Default
----------------------+--------------------------+-----------+----------+----------------------------------------------
 film_id              | integer                  |           | not null | nextval('pagila.film_film_id_seq'::regclass)
 title                | text                     |           | not null |
 description          | text                     |           |          |
 release_year         | pagila.year              |           |          |
 language_id          | smallint                 |           | not null |
 original_language_id | smallint                 |           |          |
 rental_duration      | smallint                 |           | not null | 3
 rental_rate          | numeric(4,2)             |           | not null | 4.99
 length               | smallint                 |           |          |
 replacement_cost     | numeric(5,2)             |           | not null | 19.99
 rating               | pagila.mpaa_rating       |           |          | 'G'::pagila.mpaa_rating
 last_update          | timestamp with time zone |           | not null | now()
 special_features     | text[]                   |           |          |
 fulltext             | tsvector                 |           | not null |
Indexes:
    "film_pkey" PRIMARY KEY, btree (film_id)
    "film_fulltext_idx" gist (fulltext)
    "idx_fk_language_id" btree (language_id)
    "idx_fk_original_language_id" btree (original_language_id)
    "idx_title" btree (title)
Foreign-key constraints:
    "film_language_id_fkey" FOREIGN KEY (language_id) REFERENCES pagila.language(language_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "film_original_language_id_fkey" FOREIGN KEY (original_language_id) REFERENCES pagila.language(language_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.film_actor" CONSTRAINT "film_actor_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.film_category" CONSTRAINT "film_category_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.inventory" CONSTRAINT "inventory_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    film_fulltext_trigger BEFORE INSERT OR UPDATE ON pagila.film FOR EACH ROW EXECUTE FUNCTION tsvector_update_trigger('fulltext', 'pg_catalog.english', 'title', 'description')
    last_updated BEFORE UPDATE ON pagila.film FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [15]:
!psql -c "select * from pagila.film limit 3"

 film_id |      title       |                                             description                                              | release_year | language_id | original_language_id | rental_duration | rental_rate | length | replacement_cost | rating |          last_update          |            special_features            |                                                                  fulltext
---------+------------------+------------------------------------------------------------------------------------------------------+--------------+-------------+----------------------+-----------------+-------------+--------+------------------+--------+-------------------------------+----------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------
       1 | ACADEMY DINOSAUR | A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies     |         2006 |           1 |                      |               6 |        0.99 |     86 |            20.99 | PG     | 2017-09-10 17:46:03.905795+00 | {"Deleted Scenes","Behind the Scenes"} | 'academi':1 'battl':15 'canadian':20 'dinosaur':2 'drama':5 'epic':4 'feminist':8 'mad':11 'must':14 'rocki':21 'scientist':12 'teacher':17
       2 | ACE GOLDFINGER   | A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China |         2006 |           1 |                      |               3 |        4.99 |     48 |            12.99 | G      | 2017-09-10 17:46:03.905795+00 | {Trailers,"Deleted Scenes"}            | 'ace':1 'administr':9 'ancient':19 'astound':4 'car':17 'china':20 'databas':8 'epistl':5 'explor':12 'find':15 'goldfing':2 'must':14
       3 | ADAPTATION HOLES | A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory     |         2006 |           1 |                      |               7 |        2.99 |     50 |            18.99 | NC-17  | 2017-09-10 17:46:03.905795+00 | {Trailers,"Deleted Scenes"}            | 'adapt':1 'astound':4 'baloon':19 'car':11 'factori':20 'hole':2 'lumberjack':8,16 'must':13 'reflect':5 'sink':14
(3 rows)

In [16]:
!psql -c "\d pagila.film_category"

                      Table "pagila.film_category"
   Column    |           Type           | Collation | Nullable | Default
-------------+--------------------------+-----------+----------+---------
 film_id     | smallint                 |           | not null |
 category_id | smallint                 |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "film_category_pkey" PRIMARY KEY, btree (film_id, category_id)
Foreign-key constraints:
    "film_category_category_id_fkey" FOREIGN KEY (category_id) REFERENCES pagila.category(category_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "film_category_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.film_category FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [17]:
!psql -c "select * from pagila.film_category limit 3"

 film_id | category_id |      last_update
---------+-------------+------------------------
       1 |           6 | 2017-02-15 10:07:09+00
       2 |          11 | 2017-02-15 10:07:09+00
       3 |           6 | 2017-02-15 10:07:09+00
(3 rows)

In [18]:
!psql -c "\d pagila.film_actor"

                        Table "pagila.film_actor"
   Column    |           Type           | Collation | Nullable | Default
-------------+--------------------------+-----------+----------+---------
 actor_id    | smallint                 |           | not null |
 film_id     | smallint                 |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "film_actor_pkey" PRIMARY KEY, btree (actor_id, film_id)
    "idx_fk_film_id" btree (film_id)
Foreign-key constraints:
    "film_actor_actor_id_fkey" FOREIGN KEY (actor_id) REFERENCES pagila.actor(actor_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "film_actor_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.film_actor FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [19]:
!psql -c "select * from pagila.film_actor limit 3"

 actor_id | film_id |      last_update
----------+---------+------------------------
        1 |       1 | 2017-02-15 10:05:03+00
        1 |      23 | 2017-02-15 10:05:03+00
        1 |      25 | 2017-02-15 10:05:03+00
(3 rows)

In [20]:
!psql -c "\d pagila.customer"

                                                Table "pagila.customer"
   Column    |           Type           | Collation | Nullable |                        Default
-------------+--------------------------+-----------+----------+-------------------------------------------------------
 customer_id | integer                  |           | not null | nextval('pagila.customer_customer_id_seq1'::regclass)
 store_id    | smallint                 |           | not null |
 first_name  | text                     |           | not null |
 last_name   | text                     |           | not null |
 email       | text                     |           |          |
 address_id  | smallint                 |           | not null |
 activebool  | boolean                  |           | not null | true
 create_date | date                     |           | not null | 'now'::text::date
 last_update | timestamp with time zone |           |          | now()
 active      | integer                  |           |          |
Indexes:
    "customer_pkey" PRIMARY KEY, btree (customer_id)
    "idx_fk_address_id" btree (address_id)
    "idx_fk_store_id" btree (store_id)
    "idx_last_name" btree (last_name)
Foreign-key constraints:
    "customer_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "customer_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.payment" CONSTRAINT "customer_id_fkey" FOREIGN KEY (customer_id) REFERENCES pagila.customer(customer_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.rental" CONSTRAINT "rental_customer_id_fkey" FOREIGN KEY (customer_id) REFERENCES pagila.customer(customer_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.customer FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [21]:
!psql -c "select * from pagila.customer limit 5"

 customer_id | store_id | first_name | last_name |                email                | address_id | activebool | create_date |      last_update       | active
-------------+----------+------------+-----------+-------------------------------------+------------+------------+-------------+------------------------+--------
           1 |        1 | MARY       | SMITH     | MARY.SMITH@sakilacustomer.org       |          5 | t          | 2017-02-14  | 2017-02-15 09:57:20+00 |      1
           2 |        1 | PATRICIA   | JOHNSON   | PATRICIA.JOHNSON@sakilacustomer.org |          6 | t          | 2017-02-14  | 2017-02-15 09:57:20+00 |      1
           3 |        1 | LINDA      | WILLIAMS  | LINDA.WILLIAMS@sakilacustomer.org   |          7 | t          | 2017-02-14  | 2017-02-15 09:57:20+00 |      1
           4 |        2 | BARBARA    | JONES     | BARBARA.JONES@sakilacustomer.org    |          8 | t          | 2017-02-14  | 2017-02-15 09:57:20+00 |      1
           5 |        1 | ELIZABETH  | BROWN     | ELIZABETH.BROWN@sakilacustomer.org  |          9 | t          | 2017-02-14  | 2017-02-15 09:57:20+00 |      1
(5 rows)

In [22]:
!psql -c "\d pagila.inventory"

                                                Table "pagila.inventory"
    Column    |           Type           | Collation | Nullable |                        Default
--------------+--------------------------+-----------+----------+--------------------------------------------------------
 inventory_id | integer                  |           | not null | nextval('pagila.inventory_inventory_id_seq'::regclass)
 film_id      | smallint                 |           | not null |
 store_id     | smallint                 |           | not null |
 last_update  | timestamp with time zone |           | not null | now()
Indexes:
    "inventory_pkey" PRIMARY KEY, btree (inventory_id)
    "idx_store_id_film_id" btree (store_id, film_id)
Foreign-key constraints:
    "inventory_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "inventory_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.rental" CONSTRAINT "rental_inventory_id_fkey" FOREIGN KEY (inventory_id) REFERENCES pagila.inventory(inventory_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.inventory FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [23]:
!psql -c "select * from pagila.inventory limit 3"

 inventory_id | film_id | store_id |      last_update
--------------+---------+----------+------------------------
            1 |       1 |        1 | 2017-02-15 10:09:17+00
            2 |       1 |        1 | 2017-02-15 10:09:17+00
            3 |       1 |        1 | 2017-02-15 10:09:17+00
(3 rows)

In [24]:
!psql -c "\d pagila.language"

                                               Table "pagila.language"
   Column    |           Type           | Collation | Nullable |                       Default
-------------+--------------------------+-----------+----------+------------------------------------------------------
 language_id | integer                  |           | not null | nextval('pagila.language_language_id_seq'::regclass)
 name        | character(20)            |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "language_pkey" PRIMARY KEY, btree (language_id)
Referenced by:
    TABLE "pagila.film" CONSTRAINT "film_language_id_fkey" FOREIGN KEY (language_id) REFERENCES pagila.language(language_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.film" CONSTRAINT "film_original_language_id_fkey" FOREIGN KEY (original_language_id) REFERENCES pagila.language(language_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.language FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [25]:
!psql -c "select * from pagila.language limit 5"

 language_id |         name         |      last_update
-------------+----------------------+------------------------
           1 | English              | 2017-02-15 10:02:19+00
           2 | Italian              | 2017-02-15 10:02:19+00
           3 | Japanese             | 2017-02-15 10:02:19+00
           4 | Mandarin             | 2017-02-15 10:02:19+00
           5 | French               | 2017-02-15 10:02:19+00
(5 rows)

In [26]:
!psql -c "\d pagila.payment"

                                               Table "pagila.payment"
    Column    |           Type           | Collation | Nullable |                      Default
--------------+--------------------------+-----------+----------+----------------------------------------------------
 payment_id   | integer                  |           | not null | nextval('pagila.payment_payment_id_seq'::regclass)
 customer_id  | smallint                 |           | not null |
 staff_id     | smallint                 |           | not null |
 rental_id    | integer                  |           | not null |
 amount       | numeric(5,2)             |           | not null |
 payment_date | timestamp with time zone |           | not null |
Indexes:
    "payment_pkey" PRIMARY KEY, btree (payment_id)
    "idx_fk_customer_id" btree (customer_id)
    "idx_fk_staff_id" btree (staff_id)
Foreign-key constraints:
    "customer_id_fkey" FOREIGN KEY (customer_id) REFERENCES pagila.customer(customer_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "rental_id_fkey" FOREIGN KEY (rental_id) REFERENCES pagila.rental(rental_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "staff_id_fkey" FOREIGN KEY (staff_id) REFERENCES pagila.staff(staff_id) ON UPDATE CASCADE ON DELETE RESTRICT

In [27]:
!psql -c "select * from pagila.payment limit 5"

 payment_id | customer_id | staff_id | rental_id | amount |         payment_date
------------+-------------+----------+-----------+--------+-------------------------------
      16050 |         269 |        2 |         7 |   1.99 | 2017-01-24 21:40:19.996577+00
      16051 |         269 |        1 |        98 |   0.99 | 2017-01-25 15:16:50.996577+00
      16052 |         269 |        2 |       678 |   6.99 | 2017-01-28 21:44:14.996577+00
      16053 |         269 |        2 |       703 |   0.99 | 2017-01-29 00:58:02.996577+00
      16054 |         269 |        1 |       750 |   4.99 | 2017-01-29 08:10:06.996577+00
(5 rows)

In [28]:
!psql -c "\d pagila.rental"

                                               Table "pagila.rental"
    Column    |           Type           | Collation | Nullable |                     Default
--------------+--------------------------+-----------+----------+--------------------------------------------------
 rental_id    | integer                  |           | not null | nextval('pagila.rental_rental_id_seq'::regclass)
 rental_date  | timestamp with time zone |           | not null |
 inventory_id | integer                  |           | not null |
 customer_id  | smallint                 |           | not null |
 return_date  | timestamp with time zone |           |          |
 staff_id     | smallint                 |           | not null |
 last_update  | timestamp with time zone |           | not null | now()
Indexes:
    "rental_pkey" PRIMARY KEY, btree (rental_id)
    "idx_fk_inventory_id" btree (inventory_id)
    "idx_unq_rental_rental_date_inventory_id_customer_id" UNIQUE, btree (rental_date, inventory_id, customer_id)
Foreign-key constraints:
    "rental_customer_id_fkey" FOREIGN KEY (customer_id) REFERENCES pagila.customer(customer_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "rental_inventory_id_fkey" FOREIGN KEY (inventory_id) REFERENCES pagila.inventory(inventory_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "rental_staff_id_fkey" FOREIGN KEY (staff_id) REFERENCES pagila.staff(staff_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.payment" CONSTRAINT "rental_id_fkey" FOREIGN KEY (rental_id) REFERENCES pagila.rental(rental_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.rental FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [29]:
!psql -c "select * from pagila.rental limit 5"

 rental_id |      rental_date       | inventory_id | customer_id |      return_date       | staff_id |      last_update
-----------+------------------------+--------------+-------------+------------------------+----------+------------------------
         2 | 2005-05-24 22:54:33+00 |         1525 |         459 | 2005-05-28 19:40:33+00 |        1 | 2017-02-16 02:30:53+00
         3 | 2005-05-24 23:03:39+00 |         1711 |         408 | 2005-06-01 22:12:39+00 |        1 | 2017-02-16 02:30:53+00
         4 | 2005-05-24 23:04:41+00 |         2452 |         333 | 2005-06-03 01:43:41+00 |        2 | 2017-02-16 02:30:53+00
         5 | 2005-05-24 23:05:21+00 |         2079 |         222 | 2005-06-02 04:33:21+00 |        1 | 2017-02-16 02:30:53+00
         6 | 2005-05-24 23:08:07+00 |         2792 |         549 | 2005-05-27 01:32:07+00 |        1 | 2017-02-16 02:30:53+00
(5 rows)

In [30]:
!psql -c "\d pagila.staff"

                                              Table "pagila.staff"
   Column    |           Type           | Collation | Nullable |                    Default
-------------+--------------------------+-----------+----------+------------------------------------------------
 staff_id    | integer                  |           | not null | nextval('pagila.staff_staff_id_seq'::regclass)
 first_name  | text                     |           | not null |
 last_name   | text                     |           | not null |
 address_id  | smallint                 |           | not null |
 email       | text                     |           |          |
 store_id    | smallint                 |           | not null |
 active      | boolean                  |           | not null | true
 username    | text                     |           | not null |
 password    | text                     |           |          |
 last_update | timestamp with time zone |           | not null | now()
 picture     | bytea                    |           |          |
Indexes:
    "staff_pkey" PRIMARY KEY, btree (staff_id)
Foreign-key constraints:
    "staff_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "staff_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id)
Referenced by:
    TABLE "pagila.rental" CONSTRAINT "rental_staff_id_fkey" FOREIGN KEY (staff_id) REFERENCES pagila.staff(staff_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.payment" CONSTRAINT "staff_id_fkey" FOREIGN KEY (staff_id) REFERENCES pagila.staff(staff_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.staff FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [31]:
!psql -c "select * from pagila.staff limit 5"

 staff_id | first_name | last_name | address_id |            email             | store_id | active | username |                 password                 |         last_update          |      picture
----------+------------+-----------+------------+------------------------------+----------+--------+----------+------------------------------------------+------------------------------+--------------------
        1 | Mike       | Hillyer   |          3 | Mike.Hillyer@sakilastaff.com |        1 | t      | Mike     | 8cb2237d0679ca88db6464eac60da96345513964 | 2017-05-16 16:13:11.79328+00 | \x89504e470d0a5a0a
        2 | Jon        | Stephens  |          4 | Jon.Stephens@sakilastaff.com |        2 | t      | Jon      | 8cb2237d0679ca88db6464eac60da96345513964 | 2017-05-16 16:13:11.79328+00 |
(2 rows)

In [32]:
!psql -c "\d pagila.store"

                                                Table "pagila.store"
      Column      |           Type           | Collation | Nullable |                    Default
------------------+--------------------------+-----------+----------+------------------------------------------------
 store_id         | integer                  |           | not null | nextval('pagila.store_store_id_seq'::regclass)
 manager_staff_id | smallint                 |           | not null |
 address_id       | smallint                 |           | not null |
 last_update      | timestamp with time zone |           | not null | now()
Indexes:
    "store_pkey" PRIMARY KEY, btree (store_id)
    "idx_unq_manager_staff_id" UNIQUE, btree (manager_staff_id)
Foreign-key constraints:
    "store_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.customer" CONSTRAINT "customer_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.inventory" CONSTRAINT "inventory_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.staff" CONSTRAINT "staff_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id)
Triggers:
    last_updated BEFORE UPDATE ON pagila.store FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [33]:
!psql -c "select * from pagila.store limit 5"

 store_id | manager_staff_id | address_id |      last_update
----------+------------------+------------+------------------------
        1 |                1 |          1 | 2017-02-15 09:57:12+00
        2 |                2 |          2 | 2017-02-15 09:57:12+00
(2 rows)

In [34]:
!psql -c "\d pagila.actor"

                                              Table "pagila.actor"
   Column    |           Type           | Collation | Nullable |                    Default
-------------+--------------------------+-----------+----------+------------------------------------------------
 actor_id    | integer                  |           | not null | nextval('pagila.actor_actor_id_seq'::regclass)
 first_name  | text                     |           | not null |
 last_name   | text                     |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "actor_pkey" PRIMARY KEY, btree (actor_id)
    "idx_actor_last_name" btree (last_name)
Referenced by:
    TABLE "pagila.film_actor" CONSTRAINT "film_actor_actor_id_fkey" FOREIGN KEY (actor_id) REFERENCES pagila.actor(actor_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.actor FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

**INNER JOINS**

**1. Getting customer_id, first name, last name, district, and address from the England district** \
*Here we are joining tables `address` and `customer` in order to get a list of customers (ids, names and addresses) WHERE district is England. We need to take names and their id from `customer` and join their address and district (for verification) from `address` on address_id. The output is ORDERed BY customer's last and then first name.*

In [35]:
!psql -c "SELECT c.customer_id, c.first_name, c.last_name, a.district, a.address FROM pagila.address a INNER JOIN pagila.customer c ON a.address_id = c.address_id WHERE a.district = 'England' ORDER BY last_name, first_name;"

 customer_id | first_name | last_name | district |         address
-------------+------------+-----------+----------+-------------------------
         556 | ARMANDO    | GRUBER    | England  | 869 Shikarpur Way
         252 | MATTIE     | HOFFMAN   | England  | 1497 Yuzhou Drive
          16 | SANDRA     | MARTIN    | England  | 360 Toulouse Parkway
         477 | DAN        | PAINE     | England  | 808 Naala-Porto Parkway
          85 | ANNE       | POWELL    | England  | 1557 Ktahya Boulevard
         497 | GILBERT    | SLEDGE    | England  | 1515 Korla Way
         583 | MARSHALL   | THORN     | England  | 1584 Ljubertsy Lane
(7 rows)

**2. Getting the count of films for the actors who have the last name starting with P** \
*We did INNER JOIN for tables `actor` (first_name, last_name) and `film_actor` on actor_id WHERE the last_name starts with the letter P. Then we GROUPed BY actor_id and counted the rows. The output was ORDERed BY film count in descending order.*

In [36]:
!psql -c "SELECT first_name, last_name, count(*) film_count FROM pagila.actor a INNER JOIN pagila.film_actor fa ON a.actor_id = fa.actor_id WHERE a.last_name LIKE 'P%' GROUP BY a.actor_id ORDER BY film_count DESC"

 first_name | last_name | film_count
------------+-----------+------------
 JAMES      | PITT      |         31
 RICHARD    | PENN      |         30
 OLYMPIA    | PFEIFFER  |         28
 KIRSTEN    | PALTROW   |         27
 GARY       | PENN      |         26
 ELLEN      | PRESLEY   |         25
 GARY       | PHOENIX   |         25
 PENELOPE   | PINKETT   |         25
 MILLA      | PECK      |         24
 BURT       | POSEY     |         24
 KENNETH    | PALTROW   |         21
 SPENCER    | PECK      |         21
 KENNETH    | PESCI     |         20
 SANDRA     | PECK      |         19
(14 rows)

**3. Getting languages for movies that have a runtime greater than 120 minutes** \
*We join tables `film` (columns title and length) and `language` on language_id, and filtering only movies with runtime longer than 2 hrs and ordering movie titles alphabetically. Showing the first 10 records.*

In [37]:
!psql -c "SELECT title, length as runtime, name as language FROM pagila.film INNER JOIN pagila.language ON language.language_id = film.language_id WHERE length > 120 ORDER BY title LIMIT 10;"

       title        | runtime |       language
--------------------+---------+----------------------
 AFRICAN EGG        |     130 | English
 AGENT TRUMAN       |     169 | English
 ALAMO VIDEOTAPE    |     126 | English
 ALASKA PHANTOM     |     136 | English
 ALI FOREVER        |     150 | English
 ALLEY EVOLUTION    |     180 | English
 AMERICAN CIRCUS    |     129 | English
 ANALYZE HOOSIERS   |     181 | English
 ANONYMOUS HUMAN    |     179 | English
 ANTITRUST TOMATOES |     168 | English
(10 rows)

**OUTER JOINS**

**1. Getting all the DB addresses containing the letter M and showing only store ids.** \
*We join tables `address` (district, address) and `store` (store_id) via LEFT JOIN. So that, in the result we get ALL addresses and districts but only the addresses of the stores have an actual number in store_id. The rest of addresses with empty store_id do not belong to stores, they can belong to customers. We also filter the output addresses with WHERE clause - we have only addresses that have in their names words starting with the letter M. There are only 2 stores in this DB, and both have letter M in their address. The records for stores are listed first in ascending order as instructed by ORDER BY.*

In [38]:
!psql -c "SELECT store_id, district, address FROM pagila.address LEFT JOIN pagila.store ON address.address_id = store.address_id WHERE address LIKE '% M%' ORDER BY store_id LIMIT 10;"

 store_id |   district   |            address
----------+--------------+--------------------------------
        1 | Alberta      | 47 MySakila Drive
        2 | QLD          | 28 MySQL Boulevard
          | Gujarat      | 97 Mogiljov Lane
          | Tamil Nadu   | 1675 Xiangfan Manor
          | So Paulo     | 519 Nyeri Manor
          | Tianjin      | 1760 Oshawa Manor
          | Central Java | 544 Malm Parkway
          | Shanxi       | 1158 Mandi Bahauddin Parkway
          | Free State   | 898 Belm Manor
          | Ondo & Ekiti | 1006 Santa Brbara dOeste Manor
(10 rows)

**2. Getting ALL addresses in the DB which have a number 2 in their names and ALL staff names and ids** \
*Here we do a FULL JOIN between tables `address` and `staff` on address_id, WHERE the addresses have a number 2 in any position. Thus we see all the addresses with the above restraint and only names and ids for the staff whose addresses have number 2. We get only one such person who is listed in the first row because we ORDER BY staff_id.*

In [39]:
!psql -c "SELECT staff_id, first_name, last_name, address FROM pagila.address FULL JOIN pagila.staff ON address.address_id = staff.address_id WHERE address LIKE '2%' ORDER BY staff_id LIMIT 10;"

 staff_id | first_name | last_name |            address
----------+------------+-----------+--------------------------------
        1 | Mike       | Hillyer   | 23 Workhaven Lane
          |            |           | 262 A Corua (La Corua) Parkway
          |            |           | 220 Hidalgo Drive
          |            |           | 261 Saint Louis Way
          |            |           | 226 Brest Manor
          |            |           | 201 Effon-Alaiye Way
          |            |           | 28 Charlotte Amalie Street
          |            |           | 270 Amroha Parkway
          |            |           | 226 Halifax Street
          |            |           | 207 Cuernavaca Loop
(10 rows)

**3. Getting ALL rental_id and rental_time in the DB for which Mike was the staff member** \
*Here we do a RIGHT JOIN between tables `staff` (first_name, last_name) and `rental` (rental_date, rental_id) on staff_id, WHERE the first_name is 'Mike' and ORDER BY rental_date in ascending order. With the above constraints we see all the times when Mike issued a rental. (There may be several different Mikes).*

In [40]:
!psql -c "SELECT first_name, last_name, rental_date, rental_id FROM pagila.staff RIGHT JOIN pagila.rental ON staff.staff_id = rental.staff_id WHERE first_name = 'Mike' ORDER BY rental_date LIMIT 10;"

 first_name | last_name |      rental_date       | rental_id
------------+-----------+------------------------+-----------
 Mike       | Hillyer   | 2005-05-24 22:53:30+00 |         1
 Mike       | Hillyer   | 2005-05-24 22:54:33+00 |         2
 Mike       | Hillyer   | 2005-05-24 23:03:39+00 |         3
 Mike       | Hillyer   | 2005-05-24 23:05:21+00 |         5
 Mike       | Hillyer   | 2005-05-24 23:08:07+00 |         6
 Mike       | Hillyer   | 2005-05-25 00:00:40+00 |         9
 Mike       | Hillyer   | 2005-05-25 00:22:55+00 |        13
 Mike       | Hillyer   | 2005-05-25 00:31:15+00 |        14
 Mike       | Hillyer   | 2005-05-25 00:39:22+00 |        15
 Mike       | Hillyer   | 2005-05-25 01:06:36+00 |        17
(10 rows)

**4. Getting the film names for the actor James Pitt**\
*First we do the RIGHT JOIN between tables `film_actor` AND `actor` on actor_id and then INNER JOIN with `film` on film_id in order to get the actual film names for each actor name. The output is filtered by WHERE clause stating that the name is JAMES PITT. Finally, the result is ordered by film title in ascending order. We can see that James Pitt starred in 31 films which is consistent with the count shown in the inner join section above.*

In [41]:
!psql -c "SELECT first_name, last_name, title FROM pagila.film_actor fa RIGHT JOIN pagila.actor a ON a.actor_id = fa.actor_id INNER JOIN pagila.film f ON fa.film_id=f.film_id WHERE last_name = 'PITT' AND first_name = 'JAMES' ORDER BY title;"

 first_name | last_name |         title
------------+-----------+-----------------------
 JAMES      | PITT      | AMADEUS HOLY
 JAMES      | PITT      | ARMAGEDDON LOST
 JAMES      | PITT      | AUTUMN CROW
 JAMES      | PITT      | CONFUSED CANDLES
 JAMES      | PITT      | DOCTOR GRAIL
 JAMES      | PITT      | ENCINO ELF
 JAMES      | PITT      | EVERYONE CRAFT
 JAMES      | PITT      | FIDDLER LOST
 JAMES      | PITT      | FIREBALL PHILADELPHIA
 JAMES      | PITT      | HEDWIG ALTER
 JAMES      | PITT      | HELLFIGHTERS SIERRA
 JAMES      | PITT      | INNOCENT USUAL
 JAMES      | PITT      | JEDI BENEATH
 JAMES      | PITT      | JUMPING WRATH
 JAMES      | PITT      | LONELY ELEPHANT
 JAMES      | PITT      | LUCKY FLYING
 JAMES      | PITT      | MAUDE MOD
 JAMES      | PITT      | MIDNIGHT WESTWARD
 JAMES      | PITT      | MODERN DORADO
 JAMES      | PITT      | NATIONAL STORY
 JAMES      | PITT      | OUTBREAK DIVINE
 JAMES      | PITT      | PUNK DIVORCE
 JAMES      | PITT      | RIDER CADDYSHACK
 JAMES      | PITT      | SATURDAY LAMBS
 JAMES      | PITT      | SHAKESPEARE SADDLE
 JAMES      | PITT      | SLIPPER FIDELITY
 JAMES      | PITT      | SPIRIT FLINTSTONES
 JAMES      | PITT      | STEEL SANTA
 JAMES      | PITT      | THIEF PELICAN
 JAMES      | PITT      | WILLOW TRACY
 JAMES      | PITT      | YOUNG LANGUAGE
(31 rows)

**SELF JOIN**

**All pairs of non-identical cities in Ukraine, country_id = 100**\
*Here we do a self JOIN with table `city` on country_id and where the city names were not equal, WHERE country_id = 100 (Ukraine). We are listing a pair of such cities in each row. We see the cartesian product of all possible pairs of such cities ORDERed BY city1 name in asscending order.*

In [42]:
!psql -c "SELECT a.city city1, b.city city2, a.country_id FROM pagila.city a JOIN pagila.city b ON a.city != b.city AND a.country_id = b.country_id WHERE a.country_id = 100 OR b.country_id = 100 ORDER BY a.city LIMIT 10"

        city1        |        city2        | country_id
---------------------+---------------------+------------
 Kamjanets-Podilskyi | Simferopol          |        100
 Kamjanets-Podilskyi | Konotop             |        100
 Kamjanets-Podilskyi | Sumy                |        100
 Kamjanets-Podilskyi | Mukateve            |        100
 Kamjanets-Podilskyi | ostka               |        100
 Konotop             | Mukateve            |        100
 Konotop             | Sumy                |        100
 Konotop             | Simferopol          |        100
 Konotop             | ostka               |        100
 Konotop             | Kamjanets-Podilskyi |        100
(10 rows)